body{
	font-size: 14pt;
	width: 100%;
	max-width: 1250px;
	margin: auto;
	position: relative;
	font-family: 'Lato', helvetica, arial, sans-serif;
}
hr{
	width: 45%;
	position: absolute;
	top: 285px;
}
.dual_bars{
	position: absolute;
	right: 0px;
}
.bubble_chart{
	position: absolute;
	top: 320px;
	left: 140px;
}
.content{
	text-align: left;
	width: 45%;
	position: absolute;
}
.content_header{
	margin-top: 20px;
	margin-bottom: 25px;
}
.content_link{
	position: absolute;
	top: 190px;
}
.axis text {
	font: 10px arial, sans-serif;
}
.axis line,
.axis path {
	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}
.label{
	margin: auto;
	margin-top: 10px;
}
.legend{
	width: 75px;
	border: 1px solid black;
	top: 100px;
	padding: 5px;
	border-radius: 3px;
	font-size: 0.7em;
}
.circle_chart{
	width: 90px;
	position: absolute;
	top: 415px;
}
.legend_icon{
	width: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
}
.legend_male{
	background-color: #6baed6;
}
.legend_female{
	background-color: #f79e72;
}

.group_0{
	background-color: #fdf3f2;
}
.group_1{
	background-color: #f8c9c4;
}
.group_2{
	background-color: #ef8b80;
}
.group_3{
	background-color: #e74c3c;
}
.select{
	width: 360px;
	text-align: center;
}
.page_header{
	font-size: 1.4em;
	font-weight: bold;
	width: 100%;
	max-width: 750px;
	text-align: center;
	margin-top: 15px;
}
.header{
	font-weight: bold;
}
.tooltip{
	position: absolute;
	pointer-events: none;
	background-color: #ecf0f1;
	border: 3px solid #bdc3c7;
	padding: 5px;
	min-width: 240px;
}
.male_bar{
	fill: #6baed6;
}
.female_bar{
	fill: #f79e72;
}
.bar:hover, .circle_selector:hover{
	stroke: #7f8c8d;
}
.page_info{
	position: absolute;
	right: 0px;
	top: 5px;
	color: #b9efd0;
}
.page_info:hover{
	cursor: pointer;
	color: #2ecc71;
}