body{
	font-size: 14dp;
	max-width: 625px;
	font-family: 'Roboto Condensed', 'Lato', helvetica, arial, sans-serif;
	margin: auto;
}
.axis text {
	font: 10px arial, sans-serif;
}
.axis line,
.axis path {
	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}
.label{
	margin: auto;
}
.legend{
	position: relative;
	width: 75px;
	border: 1px solid black;
	left: 550px;
	top: 100px;
	padding: 5px;
	border-radius: 3px;
	font-size: 0.7em;
}
.legend_icon{
	width: 20px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
}
.legend_male{
	background-color: #75b9e7;
}
.legend_female{
	background-color: #ef8b80;
}
.select{
	width: 360px;
	text-align: center;
}
.page_header{
	font-size: 1.4em;
	font-weight: bold;
	width: 600px;
	margin: auto;
	text-align: center;
}
.tooltip{
	position: absolute;
	pointer-events: none;
	background-color: #ecf0f1;
	border: 3px solid #bdc3c7;
	padding: 5px;
	width: 185px;
}
.male_bar{
	fill: #75b9e7;
}
.female_bar{
	fill: #ef8b80;
}
.bar:hover{
	stroke: #7f8c8d;
}
.page_info{
	position: absolute;
	right: 0px;
	top: 5px;
	color: #b9efd0;
}
.page_info:hover{
	cursor: pointer;
	color: #2ecc71;
}